*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


/* ................................................... */

body {
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	background-color: #003E82;
}

/* Header.................................................. */

.header {
	background: #E0943BF0;
	padding: 22px 0px;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
}
.header__content {
	display: flex;
	align-items: center;
	padding: 0px 40px;
}
.logo {
	width: 60px;
}

.header__nav {
	margin-left: 40px;
	/* margin-left: auto; */
}
.menu {
	display: flex;
	justify-content:space-between;
	max-width: 900px;
}

.menu__link {
	color: #FFFFFF;
	display: block;
	transition: all 0.5s;
}

.menu__link:hover {
	background-color: rgb(18, 110, 249);
}


.menu__link-active {
	border-radius: 0px 5px;
	background: rgba(226, 221, 221, 0.42);
	padding: 10px 10px;
}


.menu__item {
	margin: 0px 40px;
	position: relative;
}
.menu__item:last-child {
	margin-right: 0px;
}

.menu__item:not(:first-child) {
	margin-top: 10px;
}

.menu__item:hover .subMenu{
	display: block;
}

	.subMenu {
		padding-top: 7px;
		border-radius: 22px;
		position: absolute;
		left: -3%;
		top: 100%;
		display: none;
		width: 160px;
		background-color:  #df943df0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
	}

		.menu__item-subMenu {
			padding: 10px;
			cursor: pointer;
		}

		.menu__item-subMenu:hover {
			background-color: rgb(18, 110, 249);
		}

		.menu__link-sub {
			color: white;
		}

		.menu__btn {
			width: 55px;
			height: 50px;
			display: none;
			margin-left: 20px;
		}
		
		.menu__btn img {
			width: 100%;	
		}




/* end/Header.................................................. */

/* media-запросы!.................... */

/* large 1025px - 1700px */
/* @media (max-width: 1600px) {
	.container {
		max-width: 1200px;
	}
	.menu__item {
		margin: 0px 35px;
		position: relative;
	}
} */

/* large 1025px - 1300px */
@media (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
	.menu__item {
		margin: 0px 35px;
		position: relative;
	}

}


/* Medium 769px - 1024px */
@media (max-width: 1024px) {
	.container {
		max-width: 720px;
	}
	.header__content {
		position: relative;
		padding: 0px 0px;
	}
	.header__nav {
		display: none;
		position: absolute;
		right: 0%;
		top: 78px;
		background:  #ea902bf0;
		border: 2px solid #65635d;
		border-radius: 16px;
		padding: 17px;
		margin: 0px;
	}

	.header__nav.header__nav-active {
		display: block;
	}

	.menu__btn {
		display: block;
		margin-left: auto;
	}
	
	.menu {
		flex-direction: row;
		width: auto;
		/* text-align: center; */
	}
	.menu__item {
		margin-bottom: 10px;
	}
	.menu__item:last-of-type {
		margin-bottom: 0px;
	}

	.subMenu {

		padding-top: 7px;
		border-radius: 14px;
		position: absolute;

		top: 35%;
		right: -40%;
		display: none;
		max-width: 160px;
		background-color:  #ea902bf0;
		box-shadow: 1px -1px 3px 0px rgb(143, 143, 143);
		margin-left: -35px;
		margin-top: 40px;
	}

	.menu__item {
		margin: 0px 20px;
		position: relative;
	}

	/* .menu__item:hover .subMenu{
		display: block;
	} */

}

/* Small 577px - 768px */
/* @media (max-width: 768px) {
	.container {
		width: 540px;
	}


} */

/* the smallest 320px - 576px */
/* @media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0px 15px;
	}

} */